{% extends './template.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-color:  #fff0e6;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="container">

        <div class="row mt-4 p-1 pt-4 col-xxl-1">
            {% for desktop in desktops %}

                <div class="row p-4 col-4 pt-50 me-5">
                    <div class="card shadow">
                    
                        <div class="card-title p-3 text-center">
                            <h3>{{ desktop.name }}</h3>
                        </div>
                        {{desktop.image}}
                        <div class="card-body p-3 text-center">
                            <h4> {{  desktop.price }} €/mois</h4>
                            {{ desktop.surface }} m² : 
                            {{desktop.dateStart | date ('d/m/Y')}} au 
                            {{desktop.dateEnd | date('d/m/Y')}}
                            
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>



    </div>
{% endblock %}
