<header class="pt-1 bg-warning text-white d-flex">
    <div class="container ">
        <div class="d-flex flex-wrap align-items-center col">
       
       
            <form class="col-24 col-lg-auto mb-5 mb-lg-1 me-lg-5 justify-content-lg-end d-flex ">
                <input type="search" class="form-control form-control-dark" placeholder="search..." aria-label="Search">
            </form>

            <div class="">
            <div class="d-flex  pt-10 p-2 justify-content-lg-end">
             {% if app.user %}

                    <p class="text-success">{{ app.user.username }} : {{ app.user.status }}</p>
                    {% if app.user.status == 'professionnel' %}
                        <a href="{{ path('app_desktop_new') }}" class="btn btn-outline-light justify-content-lg-end">Ajouter</a>
                    {% endif %}
                    <a class="btn btn-danger -m-5" href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light p-1  justify-content-lg-end">Login</a>
                    <a href="{{ path('app_register') }}" class="btn btn-danger p-1 justify-content-lg-end">Sign-up</a>
                {% endif %}
            <div/>
               
            </div>
        </div>
    </div>
</header>